

<div class="hero">
  <div class="container-fluid">
    <div class="row">
      <div class="hero-heading">
      <h2>
      Offers from Your Community<br />
        Find it on OfferUPP.</h2>
        <p>
          Browse. Buy. Done.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <form>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="What are you looking for..." />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Find Services</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>


<h1>Offers Currently for Sale!</h1>

<table>

  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.price_in_cents %></td>
      <td><%= link_to 'Show', product %></td>
      <td><%= link_to 'Edit', edit_product_path(product) %></td>
      <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% @products.each do |product| %>

<% end %>
<br>

<%= link_to 'New Product', new_product_path %>


<div class="container-fluid">


  

<% @products.each_slice(4) do |product| %>
<div class="row">
  <% product.each do |product| %>
  <div class="col-md-3">
    <div class="card">
      <%= image_tag(product.photo.url(:medium), class: "card-img-top") %>

      <div class="card-block">
        <h4 class="card-title"><%= product.name %></h4>
        <p class="card-text"><%= product.description %></p>
        <%= link_to 'View', product,  class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<% end %>
</div>
