<!DOCTYPE html>
<html>
<head>
  <title>Offerup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">


    <nav class="navbar navbar-light bg-faded">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="<%= root_path %>">OfferUPP</a>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">How it Works</a>
          </li>
        </ul>

        <ul class="nav navbar-nav pull-xs-right">

            <% if seller_signed_in? %>

            <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_seller.first_name %></a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="<%= profile_registration_path %>">Profile</a>
    <%= link_to('Logout', destroy_seller_session_path, :method => :delete, class: "dropdown-item") %>
  </div>
</li>

          <% else %>
          <li class="nav-item">
            <%= link_to('Login', new_seller_session_path, class: "btn btn-success")  %>
          </li>
          <li class="nav-item">
            <%= link_to('Sign Up & Start Selling', new_seller_registration_path, class: "btn btn-primary")  %>
          </li>
          <% end %>

        </ul>


      </nav>
    </div>
    <%= yield %>

  </body>
  </html>
